@import './sass/base/typography';
@import './sass/base/animations';

@import './sass/components/bg-video';
@import './sass/components/card-container';
@import './sass/components/list';
@import './sass/components//social-media';

:root {
  --color-white: #ffffff;
  --color-blue-light-1: #99ccff;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #555;
  --color-grey-dark-3: #777;
  --color-grey-dark-4: #999;

  --shadow-dark: 0 20px 60px rgba(0, 0, 0, 1);
  --shadow-medium: 0 20px 60px rgba(0, 0, 0, 0.5);
  --shadow-light: 0 20px 60px rgba(0, 0, 0, 0.2);

  --border-1: 1px solid var(--color-grey-light-1);
  --border-2: 1px solid var(--color-grey-light-4);
  --border-3: 1px solid var(--color-grey-dark-1);
  --border-4: 1px solid var(--color-grey-dark-2);

  --margin-bottom-smaller: 1rem;
  --margin-bottom-small: 1.5rem;
  --margin-bottom-medium: 4rem;
  --margin-bottom-large: 6rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-size: 100%;
  font: inherit;
}

html {
  font-size: 62.5%; // 1rem == 10px;
  font-family: 'Lato', sans-serif;
}

:focus {
  outline: 0;
}

body {
  /* display: flex;
  place-items: flex-start center; */
  min-width: 320px;
  min-height: 100vh;
  line-height: 1.7;
  font-weight: 400;
}

@function margin-bottom($value) {
  @return (margin-bottom: $value);
}
@function margin-top($value) {
  @return (margin-top: $value);
}
@function margin-right($value) {
  @return (margin-right: $value);
}
@function margin-left($value) {
  @return (margin-left: $value);
}

$margin-values: (
  1: 4px,
  2: 8px,
  3: 12px,
  4: 16px,
  5: 20px,
  6: 24px,
  7: 28px,
  8: 32px,
  9: 36px,
  10: 40px,
); // Adjust as needed

@each $key, $val in $margin-values {
  .util-mb-#{$key} {
    margin-bottom: ($val);
  }
  .util-mt-#{$key} {
    margin-top: ($val);
  }
  .util-ml-#{$key} {
    margin-left: ($val);
  }
  .util-mr-#{$key} {
    margin-right: ($val);
  }
}
